<div class="m-0 col-0 vh-100">
    <app-navbar></app-navbar>
    <div class="row m-0  mt-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center">
            <h1><b>Employee Management</b></h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center">
            <div class="">
                <p-table #dt1 [tableStyle]="{ 'min-width': '50rem' }" [style]="{'font-size': '15px'}"
                    [value]="arrayEmployee" dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true"
                    styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['supplie','status']"
                    responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="row">
                            <div class="col-6 text-start">
                                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                                    (click)="clear(dt1)"></button>&nbsp; &nbsp;
                                <button pButton label="Add" class="p-button-outlined p-button-success mb-2"
                                    icon="pi pi-plus" (click)="openDialog()"></button>
                            </div>
                            <div class="col-6 text-end">
                                <span class="p-input-icon-left mb-2">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                        placeholder="Search Keyword" class="w-full" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width: 18rem;">
                                <div class="flex justify-content-between align-items-center">
                                    Name Employee
                                    <p-columnFilter type="text" field="name" display="menu"
                                        placeholder="Search by name"></p-columnFilter>
                                </div>
                            </th>
                            <th style="min-width: 18rem;">
                                <div class="flex justify-content-between align-items-center">
                                    Phone contact
                                    <p-columnFilter type="text" field="phone_contact" display="menu"
                                        placeholder="Search by name"></p-columnFilter>
                                </div>
                            </th>
                            <th style="min-width: 18rem;">
                                <div class="flex justify-content-between align-items-center">
                                    Email contact
                                    <p-columnFilter type="text" field="email_contact" display="menu"
                                        placeholder="Search by name"></p-columnFilter>
                                </div>
                            </th>
                            <th style="min-width: 15rem">
                                <div class="flex justify-content-between align-items-center">
                                    Actions
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-employee>
                        <tr>
                            <td>
                                {{employee.name}} {{employee.surname_father}} {{employee.surname_mother}}
                            </td>
                            <td>
                                {{employee.phone_contact}}
                            </td>
                            <td>
                                {{employee.email_contact}}
                            </td>

                            <td class="text-center">
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil" (click)="detailEmployee(employee.cat_employee.id_cat_employee)"
                                        class="p-button-rounded p-button-outlined p-button-success mr-2"></button>&nbsp;
                                    &nbsp;
                                    <button pButton pRipple icon="pi pi-trash" (click)="deleteEmployee(employee.cat_employee.id_cat_employee)"
                                        class="p-button-rounded p-button-outlined p-button-warning"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No inventory found.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="8">Loading inventory data. Please wait.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="employeeDialog" [style]="{width: '850px'}" header="EMPLOYEE INFORMATION" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field" hidden>
            <label for="name">ID</label>
            <input type="text" [(ngModel)]="idEmployee" pInputText id="id" required autofocus />
        </div>
        <div class="row">
            <div class="col-12">
                <span><b>Information of employee</b></span>
            </div>
            <div class="col-4">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="name" class="mt-2" pInputText id="name" required autofocus />
            </div>
            <div class="col-4">
                <label for="surname_father">Surname father</label>
                <input type="text" [(ngModel)]="surname_father" class="mt-2" pInputText id="surname_father" required autofocus />
            </div>
            <div class="col-4">
                <label for="surname_mother">Surname mother</label>
                <input type="text" [(ngModel)]="surname_mother" class="mt-2" pInputText id="surname_mother" required autofocus />
            </div>
            <div class="col-4">
                <label for="phone_contact">Phone Contact</label>
                <input type="text" [(ngModel)]="phone_contact" class="mt-2" pInputText id="phone_contact" required autofocus />
            </div>
            <div class="col-4">
                <label for="email_contact">Email Contact</label>
                <input type="text" [(ngModel)]="email_contact" class="mt-2" pInputText id="email_contact" required autofocus />
            </div>
            <div class="col-4">
                <label for="birth">Birth</label>
                <input type="text" [(ngModel)]="birth" class="mt-2" pInputText id="birth" required autofocus />
            </div>
            <div class="col-4">
                <label for="gender">Gender</label>
                <select class="form-select" [(ngModel)]="gender" aria-label="Default select example">
                    <option selected>Select option</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Otros">Otros</option>
                  </select>
                <!-- <input type="text" [(ngModel)]="gender" class="mt-2" pInputText id="gender" required autofocus /> -->
            </div>
            <div class="col-4">
                <label for="street_address">Street Address</label>
                <input type="text" [(ngModel)]="street_address" class="mt-2" pInputText id="street_address" required autofocus />
            </div>
            <div class="col-4">
                <label for="city">City</label>
                <input type="text" [(ngModel)]="city" class="mt-2" pInputText id="city" required autofocus />
            </div>
            <div class="col-4">
                <label for="state_province">State/Province</label>
                <input type="text" [(ngModel)]="state_province" class="mt-2" pInputText id="state_province" required autofocus />
            </div>
            <div class="col-4">
                <label for="zip_code">Zip Code</label>
                <input type="text" [(ngModel)]="zip_code" class="mt-2" pInputText id="zip_code" required autofocus />
            </div>
            <div class="col-4">
                <label for="country">Country</label>
                <input type="text" [(ngModel)]="country" class="mt-2" pInputText id="country" required autofocus />
            </div>
            <div class="col-12">
                <span><b>Information of user</b></span>
            </div>
            <div class="col-6">
                <label for="rol">Rol</label><br>
                <p-multiSelect [options]="roles" [(ngModel)]="selectedRoles" optionLabel="name" required
                    autofocus></p-multiSelect>
            </div>
            <div class="col-6">
                <label for="name">User Name</label>
                <input class="mt-1" type="text" [(ngModel)]="user_name" pInputText id="name" required autofocus />
            </div>
            <div class="col-6">
                <label for="email">Email</label>
                <input class="mt-1" type="text" [(ngModel)]="email" pInputText id="email" required autofocus />
            </div>
            <div class="col-6">
                <label for="password">Password</label>
                <input class="mt-1" type="text" [(ngModel)]="password" pInputText id="password" required autofocus />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
        <button pButton pRipple label="Save" (click)="addEmployee()" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>