<div class="row m-0 col-0 vh-100">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 main-img">
        <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                <div class="m-0 vh-100 row justify-content-center align-items-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-auto p-5 text-center">
                        <h2><i>Where moments</i></h2>
                        <h2><i>become memories</i></h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                <div class="m-0 vh-100 row justify-content-start align-items-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-auto p-5 text-center">
                        <div class="tarjeta">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
                                    <h1><b>Thunder</b></h1>
                                    <h1><b>House</b></h1>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 px-5 text-center d-grid gap-5">
                                    <button type="button mt-3" class="btn btn-secondary button-main" (click)="goLogin()"
                                        style="background-color: #948E8E;"><span
                                            class="text-white text-button"><b>Login</b></span></button>
                                    <button type="button" class="btn btn-secondary button-main"
                                        style="background-color: #BAB1B1;"><span
                                            class="text-white text-button"><b>Register</b></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-4">
                <h3><b>Stay Plans</b></h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                <div class="tarjeta-plans">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <img src="/assets/img/imagePlans.png" width="90" height="90"
                                style="margin: 13px; border-radius: 15px;">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="text-center" style="margin: 15px;">
                                <span style="font-size: 25px;"><b>Basic Room</b></span>
                            </div>
                            <div style="text-align: justify; margin-right: 20px;">
                                <span>The basic room offers essential amenities: a comfortable bed, private bathroom and
                                    impeccable cleanliness. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3">
                <div class="tarjeta-plans">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <img src="/assets/img/imagePlans.png" width="90" height="90"
                                style="margin: 13px; border-radius: 15px;">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="text-center" style="margin: 15px;">
                                <span style="font-size: 25px;"><b>Basic Room</b></span>
                            </div>
                            <div style="text-align: justify; margin-right: 20px;">
                                <span>The basic room offers essential amenities: a comfortable bed, private bathroom and
                                    impeccable cleanliness. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-4">
                <div class="tarjeta-plans">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <img src="/assets/img/imagePlans.png" width="90" height="90"
                                style="margin: 13px; border-radius: 15px;">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="text-center" style="margin: 15px;">
                                <span style="font-size: 25px;"><b>Basic Room</b></span>
                            </div>
                            <div style="text-align: justify; margin-right: 20px;">
                                <span>The basic room offers essential amenities: a comfortable bed, private bathroom and
                                    impeccable cleanliness. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-4">
                <div class="tarjeta-plans">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <img src="/assets/img/imagePlans.png" width="90" height="90"
                                style="margin: 13px; border-radius: 15px;">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <div class="text-center" style="margin: 15px;">
                                <span style="font-size: 25px;"><b>Basic Room</b></span>
                            </div>
                            <div style="text-align: justify; margin-right: 20px;">
                                <span>The basic room offers essential amenities: a comfortable bed, private bathroom and
                                    impeccable cleanliness. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-start mt-3 p-5">
                <h3><b>Benefits of staying</b></h3>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -30px;">
                <div class="tarjeta-benefits">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin: 13px; ">
                        <img src="/assets/img/imagenStaying.png" width="215" height="200"
                            style="border-radius: 15px;"><br><br>
                        <div class="container-fluid">
                            <span>Staying in a hotel provides comfort, security and quality service. Guests enjoy clean
                                rooms, prepared meals and caring services.</span>
                        </div>
                        <br>
                        <div class="text-center" style="margin-right: 20px;">
                            <button type="button mt-3" class="btn btn-secondary"
                                style="background-color: #5DADE2; border-radius: 20px; border: none;"><span
                                    class="text-white"><b><small>More information</small></b></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -30px;">
                <div class="tarjeta-benefits">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin: 13px; ">
                        <img src="/assets/img/imagenStaying.png" width="215" height="200"
                            style="border-radius: 15px;"><br><br>
                        <div class="container-fluid">
                            <span>Staying in a hotel provides comfort, security and quality service. Guests enjoy clean
                                rooms, prepared meals and caring services.</span>
                        </div>
                        <br>
                        <div class="text-center" style="margin-right: 20px;">
                            <button type="button mt-3" class="btn btn-secondary"
                                style="background-color: #5DADE2; border-radius: 20px; border: none;"><span
                                    class="text-white"><b><small>More information</small></b></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -30px;">
                <div class="tarjeta-benefits">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin: 13px; ">
                        <img src="/assets/img/imagenStaying.png" width="215" height="200"
                            style="border-radius: 15px;"><br><br>
                        <div class="container-fluid">
                            <span>Staying in a hotel provides comfort, security and quality service. Guests enjoy clean
                                rooms, prepared meals and caring services.</span>
                        </div>
                        <br>
                        <div class="text-center" style="margin-right: 20px;">
                            <button type="button mt-3" class="btn btn-secondary"
                                style="background-color: #5DADE2; border-radius: 20px; border: none;"><span
                                    class="text-white"><b><small>More information</small></b></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="margin-top: -30px;">
                <div class="tarjeta-benefits">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin: 13px; ">
                        <img src="/assets/img/imagenStaying.png" width="215" height="200"
                            style="border-radius: 15px;"><br><br>
                        <div class="container-fluid">
                            <span>Staying in a hotel provides comfort, security and quality service. Guests enjoy clean
                                rooms, prepared meals and caring services.</span>
                        </div>
                        <br>
                        <div class="text-center" style="margin-right: 20px;">
                            <button type="button mt-3" class="btn btn-secondary"
                                style="background-color: #5DADE2; border-radius: 20px; border: none;"><span
                                    class="text-white"><b><small>More information</small></b></span></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-start mt-3 p-5">
                <h3><b>Learn more about Thunder House</b></h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: -20px;">
                <div class="tarjeta-about">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-5 p-5">
                            <span class="mt-5 p-5" style="font-size: 180px;"><b>T</b></span><br><br><br><br><br><br>
                            <span class="mt-5 p-5" style="font-size: 180px;"><b>H</b></span>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-5 text-center">
                            <span style="font-size: 30px;"><b>Mission</b></span>
                            <div class="mt-5" style="text-align: justify;">
                                <p>Nuestra misión es proporcionar a nuestros huéspedes una experiencia excepcional de hospitalidad y comodidad. Nos esforzamos por ser un refugio acogedor y memorable, donde cada visitante se sienta como en casa. A través de un servicio personalizado, instalaciones de alta calidad y un compromiso con la sostenibilidad, buscamos superar las expectativas de nuestros huéspedes en cada estancia.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-5 text-center">
                            <span style="font-size: 30px;"><b>Vision</b></span>
                            <div class="mt-5" style="text-align: justify;">
                                <p>Nuestra visión es convertirnos en el destino preferido para viajeros de todo el mundo. Queremos ser reconocidos como un oasis de tranquilidad y lujo, donde los momentos especiales se crean y los recuerdos perduran. Aspiramos a ser líderes en la industria de la hospitalidad, manteniendo nuestro compromiso con la excelencia y la responsabilidad ambiental.</p>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-5 text-center">
                            <span style="font-size: 30px;"><b>Values</b></span>
                            <div class="mt-5" style="text-align: justify;">
                                <ul>
                                    <li>Innovación</li>
                                    <li>Ética</li>
                                    <li>Trabajo en equipo</li>
                                    <li>Diversidad e inclusión</li>
                                    <li>Hospitalidad</li>
                                    <li>Calidad</li>
                                    <li>Sostenibilidad</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><br><br>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-content">
            <h3>Thunder House</h3>
            <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here each tutorial is beautifully described step by step with the required source code.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer>
</div>