<app-navbar></app-navbar>
<div class="row">
  <div class="col-6 mt-5">
    <div class="tarjeta" style="margin-left: 30px;">
      <div class="text-center mt-5">
        <span style="font-size: 40px;"><b>Thunder House</b></span>
        <div class="tarjeta-info">
          <div class="row">
            <div class="col-4">
              <div class="tarjeta-mini" style="margin: 10px;">

              </div>
            </div>
            <div class="col text-center mt-4">
              <span style="font-size: 20px;"><b>Disponibles</b></span>
              <br>
              <span style="font-size: 20px;"><b>50</b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">

  </div>
</div>