<div class="m-0 col-0 vh-100">
  <app-navbar></app-navbar>
  <div class="row m-0  mt-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center">
      <h1><b>Users Management</b></h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center align-items-center">
      <div class="card">
        <p-table #dt1 [tableStyle]="{ 'min-width': '50rem' }" [style]="{'font-size': '15px'}" [value]="arrayUsers"
          dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines"
          [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
          responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="row">
              <div class="col-6 text-start">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                  (click)="clear(dt1)"></button>&nbsp;&nbsp;
                <button pButton label="Add" class="p-button-outlined p-button-success mb-2" (click)="openNew()"
                  icon="pi pi-plus"></button>&nbsp;&nbsp;
                <button pButton label="Roles" class="p-button-outlined p-button-help mb-2" (click)="openDialogRol()"
                  icon="pi pi-user-plus"></button>&nbsp;&nbsp;
                  <button pButton label="Floors" class="p-button-outlined p-button-secondary mb-2" (click)="openDialogFloor()"
                  icon="pi pi-building"></button>

              </div>
              <div class="col-6 text-end">
                <span class="p-input-icon-left mb-2">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                    placeholder="Search Keyword" class="w-full" />
                </span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 30rem;">
                <div class="flex justify-content-between align-items-center">
                  Name
                  <p-columnFilter type="text" field="user_name" display="menu"
                    placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th style="min-width: 30rem;">
                <div class="flex justify-content-between align-items-center">
                  Email
                  <p-columnFilter type="text" field="email" display="menu"
                    placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th style="text-align: center; min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Actions
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-index="index">
            <tr [hidden]="user.status==false">
              <td>
                {{user.user_name}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td class="text-center">
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-outlined p-button-success mr-2"
                    (click)="detailUser(user.id_cat_user)"></button>&nbsp; &nbsp;
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                    (click)="deleteUser(user.id_cat_user)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No user found.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody">
            <tr>
              <td colspan="8">Loading user data. Please wait.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="USER INFORMATION" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field" hidden>
      <label for="id">ID User</label>
      <input type="text" pInputText id="id" [(ngModel)]="idUser" required autofocus />
    </div>
    <div class="field">
      <label for="rol">Rol</label><br>
      <p-multiSelect [options]="roles" [(ngModel)]="selectedRoles" optionLabel="name" required
        autofocus></p-multiSelect>
    </div>
    <div class="field">
      <label for="name">User Name</label>
      <input class="mt-1" type="text" [(ngModel)]="user_name" pInputText id="name" required autofocus />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input class="mt-1" type="text" [(ngModel)]="email" pInputText id="email" required autofocus />
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input class="mt-1" type="text" [(ngModel)]="password" pInputText id="password" required autofocus />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelUser()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="rolDialog" [style]="{width: '850px'}" header="ROL INFORMATION" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field" hidden>
      <label for="id">ID Rol</label>
      <input type="text" pInputText id="id" [(ngModel)]="idRol"  required autofocus />
    </div>
    <div class="row">
      <div class="col-6">
        <div class="field" >
          <label for="name">Name Rol</label>
          <input type="text" pInputText id="id" [(ngModel)]="nameRol"  required autofocus />
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="floors">Floors</label><br>
          <p-multiSelect  [options]="floor" [(ngModel)]="selectedFloors" optionLabel="name" required autofocus></p-multiSelect>
        </div>
      </div>
      <div class="col-6 text-end mt-2">
        <button type="button" class="btn btn-outline-danger">Cancel</button>
      </div>
      <div class="col-6 mt-2">
        <button type="button"  class="btn btn-outline-success" (click)="saveRol()">Save</button>
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <p-table #dt1 [tableStyle]="{ 'min-width': '50rem' }" [style]="{'font-size': '15px'}" [value]="arrayRoles"
          dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines"
          [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
          responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 30rem;">
                <div class="flex justify-content-between align-items-center">
                  Rol
                  <p-columnFilter type="text" field="role" display="menu"
                    placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th style="text-align: center; min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Actions
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rol let-index="index">
            <tr [hidden]="rol.status==false">
              <td>
                {{rol.role}}
              </td>
              <td class="text-center">
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-outlined p-button-success mr-2"
                    (click)="detailRol(rol.id_cat_role)"></button>&nbsp; &nbsp;
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                    (click)="deleteRol(rol.id_cat_role)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No rol found.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody">
            <tr>
              <td colspan="8">Loading rol data. Please wait.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
 
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelUser()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="floorDialog" [style]="{width: '850px'}" header="FLOOR INFORMATION" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field" hidden>
      <label for="id">ID Floor</label>
      <input type="text" pInputText id="id" [(ngModel)]="idRol"  required autofocus />
    </div>
    <div class="row">
      <div class="col-6">
        <div class="field" >
          <label for="name">Identifier Floor</label>
          <input type="text" pInputText id="id" [(ngModel)]="numberFloor"  required autofocus />
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="name">Name Floor</label>
          <input type="text" pInputText id="id" [(ngModel)]="nameFloor"  required autofocus />
        </div>
      </div>
      <div class="col-6 text-end mt-2">
        <button type="button" class="btn btn-outline-danger">Cancel</button>
      </div>
      <div class="col-6 mt-2">
        <button type="button"  class="btn btn-outline-success" (click)="saveFloor()">Save</button>
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <p-table #dt1 [tableStyle]="{ 'min-width': '50rem' }" [style]="{'font-size': '15px'}" [value]="arrayFloors"
          dataKey="id" [rows]="5" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines"
          [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
          responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 10rem;">
                <div class="flex justify-content-between align-items-center">
                  Identifier Floor
                  <p-columnFilter type="text" field="number" display="menu"
                    placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th style="min-width: 10rem;">
                <div class="flex justify-content-between align-items-center">
                  Name Floor
                  <p-columnFilter type="text" field="name" display="menu"
                    placeholder="Search by name"></p-columnFilter>
                </div>
              </th>
              <th style="text-align: center; min-width: 10rem">
                <div class="flex justify-content-between align-items-center">
                  Actions
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-floor let-index="index">
            <tr [hidden]="floor.status==false">
              <td>
                Piso {{floor.number}}
              </td>
              <td>
                {{ floor.name ? floor.name : 'Sin nombre' }}
              </td>              
              <td class="text-center">
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-outlined p-button-success mr-2"
                    (click)="detailFloor(floor.id_cat_floor)"></button>&nbsp; &nbsp;
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                    (click)="deleteFloor(floor.id_cat_floor)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No rol found.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody">
            <tr>
              <td colspan="8">Loading rol data. Please wait.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
 
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelUser()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>