<div class="row m-0 col-0 vh-100">
    <div class="col-4">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h1 class="mt-5"><b>THUNDER</b></h1>
                <h1><b>HOUSE</b></h1>
                <h3 class="mt-4"><b>LOGIN</b></h3>
            </div>
            <div class="col-12 mt-2 px-5">
                <h5><b>Email:</b></h5>
                <input class="form-control" type="text" [(ngModel)]="strEmail">
            </div>
            <div class="col-12 mt-3 px-5">
                <h5><b>Password:</b></h5>
                <input class="form-control" type="password" [(ngModel)]="strPassword">
            </div>
            <div class="col-12 mt-4 px-5 text-center d-grid gap-2">
                <button type="button" class="btn btn-secondary" (click)="verifyUser()"><span class="text-white"><b>Log in</b></span></button>
            </div>
            <div class="col-12 text-star mt-4 px-5">
                <span class="account" style="color: brown;">Don´t have an account?</span>
            </div>
            <div class="col-12 text-center mt-5">
                <span style="color: gray;">Copyright of Thunder House</span>
            </div>
        </div>
    </div>
    <div class="col-8 login-img">
    </div>
</div>